<!DOCTYPE html>
<html>
	<head>
		<title>Product</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114029144-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-114029144-1');
		</script>
	</head>
	<style></style>
	<body>
		<div id="products" class="container">
            <h1>Products</h1>
            <p>Got a question? Just ask!</p>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Ask a question" id="question" v-model="question" type="text">
                        <label for="question">Question</label>
                    </div>
                </div>
            </form>
            <p>{{ response }}</p>
            <ul class="collection" v-if="products.length > 0">
                <li class="collection-item" v-for="product in products">{{ product.name }}</li>
            </ul>
		</div>
	</body>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	<script type="text/javascript" src="scripts/product.js"></script>
</html>