<!DOCTYPE html>
<html>
	<head>
		<title>Beach</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link rel="icon" type="image/png" href="img/favicon.png" sizes="16x16">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114029144-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-114029144-1');
		</script>
	</head>
	<style>
		a.btn.blue {
			margin: 0 .75rem;
		}

		#newActivity {
			margin-bottom: 1em;
		}
	</style>
	<body>
		<div id="beach" class="container">
			<h1>Beach Activities</h1>
			<form class="col s12">
				<div class="row">
					<div class="input-field col s12">
						<input placeholder="Add a new activity" id="newActivity" v-model="newActivity" type="text">
						<label for="newActivity">New Activity</label>
					</div>
					<a class="waves-effect waves-light btn blue accent-3" @click="addActivity">Add</a>
				</div>
			</form>
			<br><br><br>
			<ul class="collection">
				<li class="collection-item" v-for="activity in activities">
					<input class="filled-in" type="checkbox" v-bind:id="activity.id" :key="activity.id" name="beachActivities" v-bind:value="activity.value" v-model="checkedActivities" />
					<label class="black-text" v-bind:for="activity.id">{{ activity.text }}</label>
				</li>
			</ul>
			<a class="waves-effect waves-light btn red accent-3" @click="removeActivity">Remove</a>
		</div>
	</body>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
	<script type="text/javascript" src="scripts/beach.js"></script>
</html>