@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

$theme-color: #E1E3E2;
$purple: #BDBCD0;

.question {
	max-width: 350px;
	font-weight: 500;
	border: 1px solid $theme-color;
	border-radius: 5px;
	width: 90%;
	margin: 20px auto;
	font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
	
	> * {
		border-radius: 4px;
		padding: 10px 20px;
	}
	
	&__category-title {
		background-color: $theme-color;
		color: #222;
		margin: 0;
		font-size: 2.5rem;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	
	&__text,
	&__options {
		text-align: center;
	}
	
	&__text {
		font-size: 1.8rem;
	}
	
	&__options li {
		border: 1px solid $theme-color;
		border-radius: 50px;
		padding: 5px 20px;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 500;
		
		&:hover,
		&:focus,
		&.selected {
			background-color: $theme-color;
			cursor: pointer;
		}
	}
	
	button {
		border-radius: 50px;
		border: 0;
		margin: 20px auto 10px;
		display: block;
		text-align: center;
		padding: 5px 20px 7px;
		line-height: 1;
		
		&:hover,
		&.highlight {
			background-color: $purple;
			color: white;
		}
	}
}